*{box-sizing: border-box;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.top_roll{
    position: relative;
    // border-bottom:2px solid black;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 6.5vw 77vw 140px 6.5vw;
    overflow-x: hidden;

    align-items: center;
    &_left-shield{
        height: 100%;
        // background-color: red;
        z-index: 9;
    }
    &_right-shield{
        height: 100%;
        // background-color: red;
        z-index: 9;
    }
    

    &_content{
        // border: 2px solid magenta;
        height: 100%;
        display: flex;
        // width: 78vw !important;
        align-items: flex-end;
        overflow:visible;
        position: relative;
        background-color:transparent;
        z-index: 5 !important;
        overflow: hidden;   


        &_test{
            display: flex;
            // grid-template-columns: repeat(6, 1fr);
            position: relative;
            z-index: 5;
            left: -1vw;
        }

        &_back{
            @include grid-center;
            border: 1px solid black;
            border-radius: 50%;
            width: 25px; height: 25px;
            z-index: 99;
            position: absolute;
            left:80px; top:30px;
        }
        &_button{
            height: 80%;
            min-width: 100px !important;
            border: none;
            background: transparent;
            // border: 2px solid red;
            font-size: 12px !important;
            font-weight: 600;
            color: gray;
            display: grid;
            justify-content: center;
            align-items: flex-end;
            opacity: 0.5;
            padding: 0;
            cursor: pointer;
            &_kernel{
                display: grid;
                justify-items: center;
                row-gap: 10px;
                &_icon{
                    height: 30px; width: 30px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &_text{
                    padding-bottom: 10px;
                    color: black;
                    border-bottom: 2px solid white;
                }

            }
        }
        &_button:focus{
                opacity: 1;
        }
        &_button:focus .top_roll_content_button_kernel_text{
            border-bottom: 2px solid black;
    }
        
    }


    &_control{
        // border: 2px solid maroon;
        height: 100%;
        position: relative;
        z-index: 9;
        @include grid-center;
        width: 140px;
        grid-template-columns: 45px 95px;
        user-select: none;       //önemli 
        // justify-content: end;
        &_arrow{
            // border: 2px solid red;
            height: 100%;
            @include grid-center;
            justify-content: start;
            &_forth{
            @include grid-center;
            border: 1px solid silver;
            border-radius: 50%;
            width: 29px; height: 29px;
            cursor: pointer;
            }
        }

        &_filter{
            border:1px solid silver;
            border-radius: 12px;
            height: 50%;
            padding: 0 10px;
            @include grid-center;
            grid-template-columns: 1fr 2fr;
            cursor: pointer;
            &_icon{
                // border: 2px solid blue;
                height: 25px;
                @include grid-center;
                img{
                    width:90%;
                    height: 99%;
                }
            }
            &_text{
                // border: 2px solid green;
                height: 25px;
                @include grid-center;
                font-size: 12px;
                font-weight: 600;
                color: #222222;
            }
            
        }
        }
}





.shadow_left{
    width: 50px;
    height: 100%;
    // border: 1px solid red;
    position: absolute;
    left: 5vw;
    top: 0;
    box-shadow: inset 4px 11px 73px white;
    z-index: 9;
    border-radius: 50%;
}

.shadow_right{
    width: 50px;
    height: 80px;
    // border: 1px solid red;
    position: absolute;
    right: 17vw;
    top: 7px;
    box-shadow: inset 4px 11px 73px white;
    z-index: 9;
    border-radius: 50%;
}



// Medium devices (tablets, less than 992px)
@media (max-width: 1124.98px) { 

    .top_roll{
        grid-template-columns: 4vw auto 140px 4vw;
    }

    .shadow_left{
        width: 50px;
        height: 100%;
        // border: 1px solid red;
        position: absolute;
        left: 1.5vw;
        top: 0;
        box-shadow: inset 4px 11px 73px white;
        z-index: 8;
        border-radius: 50%;
    }
    
    .shadow_right{
        width: 50px;
        height: 80px;
        // border: 1px solid red;
        position: absolute;
        right: 15vw;
        top: 7px;
        box-shadow: inset 4px 11px 73px white;
        z-index: 9;
        border-radius: 50%;
    }

}



// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {


 }












// Small devices (landscape phones, less than 768px)
@media (max-width: 744.98px) { 
    
}