.to_center {
  position: fixed;
  bottom: 15vh;
  z-index: 50;
  width: 100vw;
  display: grid;
  justify-content: center;
  background-color: transparent;
}

.show_map_shell {
  background-color: #222222;
  border-radius: 50px;
  z-index: 5000 !important;
}
.show_map_shell button {
  background: transparent;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px;
  cursor: pointer;
}
.show_map_shell button:hover {
  padding: 17px;
  transition: 0.2s;
}
.show_map_shell button:active {
  padding: 15px;
}

.map {
  position: absolute;
  top: 190px;
  height: 71.5vh;
  width: 100vw;
  z-index: 2;
}

.infobox {
  background-color: white;
  border: 3px solid black;
  height: auto;
  width: 250px;
  color: red;
  font-size: 18px;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: 5000;
}
.infobox h1 {
  margin-left: 37%;
}
.infobox .property_image {
  position: relative;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  aspect-ratio: 10/9;
}
.infobox .property_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.infobox .property_image .back {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 99;
  position: absolute;
  left: 10px;
  top: 40%;
  background-color: white;
  cursor: pointer;
  display: none;
}
.infobox .property_image .forth {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  cursor: pointer;
  right: 10px;
  top: 40%;
  background-color: white;
  display: none;
}
.infobox .property_details {
  display: grid;
}
.infobox .property_details_location_mini {
  font-weight: 600;
  font-size: 15px;
  color: #222222;
  padding-top: 10px;
  padding-bottom: 3px;
  display: flex;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}
.infobox .property_details_location_mini_loc_mini {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.infobox .property_details_location_mini_rating {
  position: absolute;
  right: 0;
  font-weight: 400;
}
.infobox .property_details_hosttype_mini {
  font-weight: 600;
  color: #222222;
  font-size: 15px;
  padding-bottom: 2px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.infobox .property_details_total {
  font-size: 15px;
  color: #222222;
  padding-top: 5px;
}

.infobox:hover .back {
  display: grid;
}
.infobox:hover .forth {
  display: grid;
}

.custom_marker {
  background-color: red;
  z-index: 400 !important;
  padding: 5px;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-size: 15px;
  color: white;
  font-weight: 600;
  cursor: zoom-in;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.custom_marker:hover {
  padding: 7px;
}/*# sourceMappingURL=show_map.css.map */