.modal_panel{
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top:0; left: 0; right: 0; bottom: 0;
    z-index: 99999999999999 !important;
    background-color: rgba(0, 0, 0, 0.5); 
// base component style for background and shadow

    &_shell_title{
        background-color: white;
        width: 80vw;
        height: 70px;
        border-bottom: 1px solid silver;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: grid;
        align-items: center;
        button{
            border: none;
            background: transparent;
            width: fit-content;
            position: relative;
            left: 20px;
            cursor: pointer;
        }
    } 
    &_shell_title-support{
      width: 98.5vw;
      height: 50px;
      background-color: white;
      display: grid;
      align-items: center;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      button{
        border: none;
        background: transparent;
        width: fit-content;
        position: relative;
        left: 30px;
        cursor: pointer;
    }
    }
    &_language-shell{
        background-color: white;
        width: 80vw;
        height: 80vh;
        overflow-y: scroll;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        .translation{
            // border: 2px solid red;
            padding: 35px 20px;
            &_panel{
                padding: 15px 10px;
                width: fit-content;
                display: flex;
                column-gap: 20px;
                align-items: center;
                background-color: rgb(247, 247, 250);
                border-radius: 10px;
                &_double{
                    display: grid;
                    row-gap: 10px;
                    &_action{
                        color: #222222;
                    }
                    &_explain{
                        color:gray;
                        font-size: 14px;
                    }
                }
            }
            .toggle{
                .switch {
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 34px;
                  }
                  
                  .switch input { 
                    opacity: 0;
                    width: 0;
                    height: 0;
                  }
                  
                  .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;
                  }
                  
                  .slider:before {
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: white;
                    transition: .4s;
                    content: "";
                  }
                  
                  input:checked + .slider {
                    background-color: #222222;
                  }
                  
                  input:checked + .slider:before {
                    transform: translateX(17px);
                    position: absolute;
                    display: grid;
                    justify-content: center;
                    align-content: center;
                    content: "\2714";
                  }
                  
                  /* Rounded sliders */
                  .slider.round {
                    border-radius: 34px;
                  }
                  
                  .slider.round:before {
                    border-radius: 50%;
                  }
            
            }
        }
        .language_options{
          // border: 2px solid red;
          padding: 20px 20px;
          // height: 60vh;
          // overflow-y: scroll;
          h3{
            color:#222222;
            font-size: 21px;
          }
          .all_languages{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 10px;
            padding-top: 20px;
            gap: 10px;
            .language{
              // border: 1px solid black;
              background: transparent;
              border-radius: 10px;
              display: grid;
              align-items: center;
              justify-content: start;
              padding: 10px;
              font-size: 14px;
              row-gap: 3px;
              cursor: pointer;
              .up{
                  color: #222222;
              }
              .down{
                  color:gray;
              }
            }
          }
        }
        
    }  
    &_support-shell{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      padding: 5px 70px;
      padding-bottom: 70px;
      background-color: white;
      color: #222222;
      .column{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        
        &_title{
            font-weight: 600;
            font-size: 14px;
        }
        a{
          text-decoration: none;
          font-size: 14px;
          color: #222222;
        }
      }
      
    }
}