.modal_panel{
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top:0; left: 0; right: 0; bottom: 0;
    z-index: 99999999999999 !important;
    background-color: rgba(0, 0, 0, 0.5); 

    &_shell_title{
        background-color: white;
        width: 80vw;
        height: 60px;
        border-bottom: 1px solid silver;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: grid;
        align-items: center;
        button{
            border: none;
            background: transparent;
            width: fit-content;
            position: relative;
            left: 20px;
        }
    } 
    &_language-shell{
        background-color: white;
        width: 80vw;
        height: 80vh;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        
    }  
}