html, body{
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
// body::-webkit-scrollbar {
//     display: none;
//   }

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.all_kernel{
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    display: grid;
  }

.all_kernel::-webkit-scrollbar {
    display: none;
}



.loader{
    display: grid;
    justify-content: center;
}

.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: relative;
    top:45px;
    padding:15px 40px;
    row-gap: 40px;
    column-gap: 20px;
    z-index: 2;
    overflow: scroll;
    width: 100vw;
    .property{
        .property_image{
            position: relative;
            align-items: center;
            user-select: none;
            aspect-ratio: 10/9;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }
            .back{
                @include grid-center;
                border: 1px solid white;
                border-radius: 50%;
                width: 25px; height: 25px;
                z-index: 99;
                position: absolute;
                left:10px; top:40%;
                background-color: white;
                cursor: pointer;
                display: none;
            }

            .forth{
                position: absolute;
                @include grid-center;
                border: 1px solid white;
                border-radius: 50%;
                width: 29px; height: 29px;
                cursor: pointer;
                right:10px; top:40%;
                background-color: white;
                display: none;
            }
        }
        .property_details{

            display: grid;
            // border: 2px solid red;
            &_location{
                font-weight: 600;
                font-size: 15px;
                color: #222222;
                padding-top: 10px;
                padding-bottom: 3px;
                display: flex;
                position: relative;
                &_rating{
                    position: absolute;
                    right: 0;
                    font-weight: 400;
                }
            }
            &_hosttype, &_date{
                font-weight: 200;
                color: gray;
                font-size: 15px;
                padding-bottom: 2px;
            }
            &_total{
                font-size: 15px;
                color: #222222;
                padding-top: 5px;
            }

        }
    }
    .property:hover{
        .back{
            display: grid;
        }
        .forth{
            display: grid;
        }
    }
}

.content::-webkit-scrollbar {
    display: none;
  }

