@media screen and (min-width:744px) {
html, body{
    padding: 0;
    margin: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
$b: 1px solid red;
$bb: 1px solid blue;
$bbb: 1px solid green;

* { box-sizing: border-box;}

@mixin  gc {
    display: grid;
    justify-content: center;
    align-items: center;
} 

@mixin fnt($w) {
    font-size: 14px;
    font-weight: $w;
    line-height: 18px;
    color: #222222;
}

@mixin  fc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd{
     @include gc;
     width: 100vw;
     grid-template-columns: 10fr 11fr 10fr;
    //  height: 80px;
     padding: 20px 40px;
     border-bottom: 1px solid #DDDDDD;
     white-space: nowrap;
     position: fixed;
     z-index: 999;
     background-color: white;


     &_search {
        padding: 0 24px;

        &_shll {
            @include fc;
            grid-template-columns: 2fr 2fr 2fr 1fr;
            border-radius: 24px;
            border: 1px solid #DDDDDD;
            padding: 0 9px;
        }
        &_shll_afterclick{
            display: flex;
            border-radius: 24px;
            padding-top: 5px;
            button{
                background: transparent;
                border: none;
                font-size: 16px;
                color: #222222;
                cursor: pointer;
                padding-bottom: 10px;
               
            }
            div{
                padding-top: 10px;
                padding-right: 20px;
                cursor: pointer;
                @include gc;
            }
            .link{
                padding-top:10px;
                padding-bottom: 10px;
            }

            a{
                text-decoration: none;
                color: #222222;
            }
        }
        &_btn {
            height: 48px;
            background: transparent;
            border: 1px solid transparent;
            @include fnt(600);
            line-height: 18px;
            padding: 0;
            font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
            cursor: pointer;

            &_tx{
                padding:0 16px;
            }
        }
        &_icon {
            background-color: #FF385C;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            @include fc;
            cursor: pointer;
        }
        &_extension_to_center{
            @include gc;
            position: absolute;
            left: 0;
            // border: 2px solid black;
            width: 100vw;
            background: transparent;
            padding: 15px 0;
            z-index: 40 !important;
            .white_background{
                background-color: white;
                width: 100vw;
                @include gc;
                padding-bottom: 10px;
                border-bottom: 4px solid white;
                position: relative;
                
            }.modal_kernel{
                    position: absolute;
                    background-color: #FF385C;
                    z-index: 60;
                    width: 100vw;
                    @include gc;
                    &_center{
                        border: 2px solid black;
                        width: 760px;
                        display: grid;
                        .where_dropdown{
                            width: 450px;
                            background-color: white;
                            border-radius: 30px;
                            display: grid;
                            padding: 30px;
                            row-gap: 30px;
                            .regions{
                                display: grid;
                                grid-template-columns: repeat(3, 1fr);
                                gap: 10px;
                                align-self:start;
                                .region{
                                    display: grid;
                                    align-items: center;
                                    justify-content: center;
                                    row-gap: 5px;
                                    .image{
                                        border: 1px solid silver;
                                        border-radius: 10px;
                                    }
                                    .text{
                                        font-size: 15px;
                                        color:#222222;
                                    }
                                    img{
                                        display: block;
                                        width: 100%;
                                        border-radius: 10px;
                                    }
                                }
                            }
                        }
                        .checkin_dropdown{
                            display: grid;
                            background-color: white;
                            padding: 30px 30px;
                            border-radius: 30px;
                            &_options{
                                display: flex;
                                justify-self: center;
                                background-color: #eeebeb;
                                padding: 5px;
                                border-radius: 25px;
                                // border:2px solid red;
                                div{
                                    background-color: #eeebeb;
                                    border-radius: 20px;                                    
                                    // border:2px solid black;
                                    
                                    button{
                                        background: transparent;
                                        border: none;
                                        padding: 10px 30px;
                                        cursor: pointer;
                                        font-weight: 600;
                                    }
                                    &:focus{
                                        background-color: white;
                                    }
                                }

                            }
                            &_calendar_shell{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                .calendar_left, .calendar_right{
                                    display:grid;
                                    border:2px solid black;
                                    justify-content: center;
                                    padding: 20px;
                                }
                            }
                        }
                    }
                }

            .click-extension{
                background-color: #eeebeb;
                border: 1px solid silver;
                border-radius: 50px;
                @include fc;
                column-gap: 10px;
                padding: 0;
                width: 760px;
                justify-self: center;
                .buffer{
                    width: 1px;
                    height: 24px;
                    background-color: #4e4e4e;
                }
                .stays_tab{
                    position: relative;
                    display: grid;
                    align-items: center;
                    padding: 17px 20px;
                    border-radius: 50px;
                    height: 100%;
                    
                    
                    // border: 2px solid red;
                    box-sizing: border-box;
                    &_shell{
                        display: grid;
                        padding: 0 15px;
                        row-gap: 3px;
                    }
                    &_search{
                        background-color: #FF385C;
                        border-radius: 50px;
                        
                        #search_button{
                        background: transparent;
                        border: none;
                        @include fc;
                        column-gap: 10px;
                        color: white;
                        font-size: 16px;
                        font-weight: 600;
                        padding: 15px;
                        }
                    }  
                    
                    
                    .bottom{
                        font-size: 14px;
                        font-weight: 400;
                        color: gray;
                    }
                    .top{
                        font-size: 12px;
                        font-weight: 600;
                    }
                    
                    &:focus{
                        background-color: white;
                        box-shadow: 0px 8px 8px 8px rgb(240, 239, 239);
                    }

                    
                }
                #who{
                        grid-template-columns: 1fr 1fr;
                        column-gap: 5px;
                        padding: 9px;
                    }
            }
            .modal{
                border: 2px solid red;
                position: relative;
                top: 0;
                height: 90vh;
                background-color: rgba(0, 0, 0, 0.5); 
                z-index: 40 !important;
            }

        }

     }


     &_user {
        justify-items: end;
        nav {
            @include gc;
            grid-template-columns: 3fr 1fr;
            
        }
        .nav_left{
            @include gc;
            grid-template-columns: 3fr 1fr;
            justify-items: end;
            a {
                text-decoration: none;
                @include fnt(600);
                margin-right: 4%;
            }
            div{
                @include gc;
                justify-items: end;
                margin-right: 5%;
            }

        }
        .nav_right{
            @include gc;
            justify-content: end;
            position: relative;
            button{
                background: transparent;
                border: 1px solid #DDDDDD;
                @include fc;
                gap:20%;
                height: 42px;
                padding: 5px 15px 5px 17px;
                border-radius: 24px;
                cursor: pointer;
            }
            &_drp {
                @include gc;
                z-index: 999999;
                position: absolute;
                width: 220px; height: 250px;
                right:0;
                top: 50px;
                padding-top: 9px;
                background-color: white;
                border-radius: 24px;
                border: 1px solid #DDDDDD;

                div{
                    width: 220px; height: 35px;
                    display: grid;
                    align-content: center;
                    @include fnt(400);
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color:black;
                        padding: 12px 16px;
                    }
                }
                div:hover {background-color: #f8f4f4;}

            }
        }
     }
}
}




@media screen and (max-width:1124px) {
    .hd{
        padding: 0 4vw;
    }
}