*{
    box-sizing: border-box;
    padding: 0;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}
@mixin checkbox {
    input[type=checkbox] {
        position: relative;
        appearance: none;
        cursor: pointer;
    }
    
    input[type=checkbox]:after {
        content: "";
        position: absolute;
        width: 22px;
        height: 22px;
        top:-10px;
        border-radius: 4px;
        border: 1px solid gray;
        cursor: pointer;
    }
    
    input[type=checkbox]:checked:after {
        @include grid-center;
        content: "\2714";
        font-size: 20px;
        background-color: black;
        color: white;
    }
}


.panel {
    position:fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top:0; left:0; bottom:0; right:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    &_shell{
        width: 770px;
        height: 90vh;;
        // min-height: 350px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        &_title{
            position: relative;
            @include grid-center;
            border-bottom: 1px solid rgb(235, 235, 235);
            height: 70px;
            button {
                position: absolute;
                left: 20px;
                border: none;
                background: transparent;
            }
            &_text{
                font-weight: 600;
            }
        }

        &_options{
            overflow-y: scroll;
            height: 69vh;
            padding: 0 20px;
            // border: 3px solid green;

            h2,h3{
                margin: 5px 0;
                font-size: 22px;
                color:#222222;
            }
            h3{
                color: gray;
                font-weight: 400;
                font-size: 16px;
                margin-bottom: 20px;
            }

            @mixin option_outline {
                    padding: 25px 0;
                    border-bottom: 1px solid rgb(235, 235, 235);
            }
            
                &--priceRange{
                    @include option_outline;
                    &_chart{
                        height: 99px;
                        display: grid;
                        grid-template-columns: repeat(50, 1fr);
                        column-gap: 1px;
                        align-items: end;
                        // border: 2px solid red;
                        width: 90%;
                        margin-left: 5%;
                        div{background-color: rgb(180, 180, 180); 
                            align-content: center;                           
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                        }
                    }
                    &_slider{
                        border: 1px solid rgb(180, 180, 180);
                        position: relative;
                        margin-bottom: 39px;
                        width: 90%;
                        margin-left: 5%;
                        input{
                            width: 100%;
                            margin: 0;
                            padding: 0;
                            appearance: none;
                            outline: none;
                            position: absolute;
                            background: transparent;
                            pointer-events: none;
                        }
                        input::-webkit-slider-runnable-track{
                            appearance: none;
                        }
                        input::-webkit-slider-thumb {
                            appearance: none;
                            height: 30px; width: 30px;
                            border-radius: 50%;
                            background-image: url("./images/slider_pound.svg");
                            background-color: white;
                            background-repeat: no-repeat;
                            background-size: 40%;
                            background-position: center;
                            border: 1px solid gray;
                            cursor: pointer;
                            pointer-events: all;
                            margin-top: -12px;
                        }
                        input:active::-webkit-slider-thumb {
                            // background-color: red;
                        }

                    }
                    &_inputs{
                        display: grid;
                        grid-template-columns: 48% 4% 48%;
                        &_min, &_max{
                            // border: 2px solid red;
                            height: 60px;
                            @include grid-center;
                            grid-template-columns: 90%;
                            &_kernel {
                                border: 1px solid gray;
                                height: 100%;
                                display: flex;
                                border-radius: 10px;
                                padding-left: 10px;
                                padding-top: 10px;
                                position: relative;
                                span{
                                    // border: 2px solid blue;
                                    font-size: 16px;
                                    @include grid-center;
                                    margin-right: 2px;
                                }
                                span.max, .min{
                                    font-size: 12px;
                                    color:gray;
                                    position: absolute;
                                    top:8px;
    
                                }
                                div{
                                    @include grid-center;
                                    // border: 2px solid greenyellow;
                                }
                                input{
                                    font-size: 16px;
                                    border: none;
                                }
                                input:focus{
                                    outline: none;
                                }
                            }
                        }
                        &_min {
                            justify-content: end;
                        }
                        &_max{
                            justify-content: start;
                        }

                        &_dash{
                            // border: 2px solid black;
                            @include grid-center;
                        }

                    }

                }
                &--type{
                    @include option_outline;
                    &_types{
                        // border:2px solid black;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        row-gap: 25px;
                        padding: 25px 0;
                        &_cell{
                            // border: 2px solid yellow;
                            display: flex;
                            column-gap: 35px;
                            #place_double{
                                display: grid;
                                row-gap: 5px;
                                justify-items: start;
                                align-content: start;
                                height: 100%;
                            }
                        }
                        #cbox{
                           @include checkbox;
                        }
                        #place-type{
                            color:#222222;
                        }
                        #place-detail{
                            color:gray;
                            font-size: 14px;
                        }
                    }
                }
                &--roombed{
                    @include option_outline;
                    // background-color: palegreen;
                    #bedroom_double{
                        background-color: aquamarine;
                        display: grid;
                        justify-content: start;
                        align-content: center;
                        h3{color: #222222;}
                    }
                    #beds_double{
                        background-color: lightcoral;
                    }
                    #bathrooms_double{
                        background-color: orange;
                    }
                    #number{
                        display: flex;
                    }


                }
        }
     &_clear{
            position: relative;
            bottom: 0;
            height: 80px;
            display: grid;
            align-items: center;
            justify-content: start;
            padding-left: 20px;
            border-top: 1px solid rgb(235, 235, 235);

        }       
    }

        
}
  
// media queries   // media queries   // media queries   // media queries   // media queries
// media queries   // media queries   // media queries   // media queries   // media queries
// media queries   // media queries   // media queries   // media queries   // media queries
// media queries   // media queries   // media queries   // media queries   // media queries
// media queries   // media queries   // media queries   // media queries   // media queries

  @media (max-width:860px){
    .filters_modal_panel {
        &_shell{
            width: 90vw;
            min-width: 700px;
        }
    }
    
  }