$b: 1px solid black;
@mixin  gc {
    display: grid;
    justify-content: center;
    align-items: center;
} 

@mixin  fc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fnt($w) {
    font-size: 14px;
    font-weight: $w;
    line-height: 18px;
    color: black;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

}
*{
    box-sizing: border-box;
}
.md-bg {
    position:fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);



    
}

.md-bg-inner{
    width: 570px;
    height: 580px;
    min-height: 350px;
    background-color: white;
    border-radius: 10px;

    &_down{
        height: 510px;
        bottom: 0;
        overflow-y: scroll;
        padding: 20px auto;
        display: grid;
        justify-items: center;
        
    }
    &_welc{
        color: #222222;
        font-size: 19px;
        font-weight: 400;
        width: 500px;
        height: 70px;
        display: grid;
        align-content: center;
    }

    &_title{
        @include fc;
        position: relative;
        height: 50px;
        padding: 30px 30px;
        font-size: 16px;
        font-weight: 600;
        color: #222222;
        border-bottom: 1px solid rgb(223, 221, 221);  //önemli ders
        button {
            position: absolute;
            left:30px;
            background: transparent;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
    }
    &_form{

        @include gc;
        &_double{
            border: 1px solid gray;
            border-radius: 10px;
            position: relative;
            span{
                display: block;
                position: absolute;
            }
        }
        &_select {
            width: 500px;
            height: 60px;
            border: none;
            background: transparent;
            border-bottom: 1px solid gray;
            font-size: 16px;
            padding-left: 10px;
            padding-top: 9px;
            margin-bottom: 1px;
            &_country{
                padding-left: 15px;
                padding-bottom: 9px;
                top:9px;
                font-size: 12px;
                font-weight: 200;
                color: gray;
            }
        }
        &_input_triple {
            width: 500px;
            height: 50px;
            padding-left:10px;
            // padding-top: 30px;
            // padding-bottom:20px;
            position: relative;
            display: flex;
            input{
                font-size: 18px;
                margin-left: 2px;
                order: 3;
                display: flex;
                border: none;
                padding-top: 10px;
            }
            &_code{
                display: none !important;
                color: gray;
                margin-top: 3px !important;
                order: 2;
                align-items: center;
                padding-top: 10px;

            }
            &_phone {
                font-weight: 200;
                color: gray;
                pointer-events: none !important;        //önemli ders
                order:1;
                display: flex;
                align-items: center;
                position: absolute;
                top:15px;
               
            }
        }
        input:focus + .md-bg-inner_form_input_triple_phone {
                top:5px;
                font-size: 12px;
                align-items:flex-start;
                
        }
        input:focus ~ .md-bg-inner_form_input_triple_code {
            display: flex !important;
            
        }

        input:focus {
            outline: none;          //önemli ders
        }

        
        button{
            width: 500px;
            height: 50px;
            border-radius: 10px;
            border: none;
            background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
            @include fnt(600);
            color: white;
        }
        &_reminder{
            font-size: 12px;
            color: #222222;
            padding: 20px 0;
            span {display: block}
        }

    }
    &_cont{
        @include gc;
        padding: 20px 0px;
        row-gap: 20px;
        button {
            height: 50px;
            width: 500px;
            border: $b;
            border-radius: 10px;
            @include fnt(400);
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 9fr;
            background: transparent;
            span{
                @include gc;
                @include fnt(600);
                color: #222222;
            }
            
        }
    }
    
}

.or{
    position: relative;
    padding: 15px 0;
    margin-top: 9px;
    &_line{
        position: absolute;
        border-bottom: 1px solid rgb(211, 211, 211);
        width: 100%;
        z-index: 50;
    }
    &_or{
        position: absolute;
        left: 45%;
        top: 8px;
        z-index: 60;
        font-size: 12px;
        color:gray;
        background-color: white;
        width: 40px;
        @include gc;

    }
}

