* {
  box-sizing: border-box;
}

.md-bg {
  position: fixed;
  display: grid;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.md-bg-inner {
  width: 570px;
  height: 580px;
  min-height: 350px;
  background-color: white;
  border-radius: 10px;
}
.md-bg-inner_down {
  height: 510px;
  bottom: 0;
  overflow-y: scroll;
  padding: 20px auto;
  display: grid;
  justify-items: center;
}
.md-bg-inner_welc {
  color: #222222;
  font-size: 19px;
  font-weight: 400;
  width: 500px;
  height: 70px;
  display: grid;
  align-content: center;
}
.md-bg-inner_title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
  padding: 30px 30px;
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  border-bottom: 1px solid rgb(223, 221, 221);
}
.md-bg-inner_title button {
  position: absolute;
  left: 30px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.md-bg-inner_form {
  display: grid;
  justify-content: center;
  align-items: center;
}
.md-bg-inner_form_double {
  border: 1px solid gray;
  border-radius: 10px;
  position: relative;
}
.md-bg-inner_form_double span {
  display: block;
  position: absolute;
}
.md-bg-inner_form_select {
  width: 500px;
  height: 60px;
  border: none;
  background: transparent;
  border-bottom: 1px solid gray;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 9px;
}
.md-bg-inner_form_select_country {
  padding-left: 15px;
  padding-bottom: 9px;
  top: 9px;
  font-size: 12px;
  font-weight: 200;
  color: gray;
}
.md-bg-inner_form_input_triple {
  width: 500px;
  height: 50px;
  padding-left: 10px;
  position: relative;
  display: flex;
  cursor: text;
}
.md-bg-inner_form_input_triple input {
  font-size: 16px;
  margin-left: 2px;
  order: 3;
  display: flex;
  border: none;
  padding-top: 10px;
  color: #222222;
}
.md-bg-inner_form_input_triple_code {
  color: gray;
  margin-top: 3px !important;
  order: 2;
  align-items: center;
  padding-top: 10px;
}
.md-bg-inner_form_input_triple_phone {
  font-weight: 200;
  color: gray;
  pointer-events: none !important;
  order: 1;
  display: flex;
  position: absolute;
}
.md-bg-inner_form input:focus + .md-bg-inner_form_input_triple_phone {
  font-size: 12px;
}
.md-bg-inner_form input:focus {
  outline: none;
}
.md-bg-inner_form button {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: white;
}
.md-bg-inner_form_reminder {
  font-size: 12px;
  color: #222222;
  padding: 20px 0;
}
.md-bg-inner_form_reminder span {
  display: block;
}
.md-bg-inner_cont {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  row-gap: 20px;
}
.md-bg-inner_cont button {
  height: 50px;
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 9fr;
  background: transparent;
}
.md-bg-inner_cont button span {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  color: #222222;
}

.or {
  position: relative;
  padding: 15px 0;
  margin-top: 9px;
}
.or_line {
  position: absolute;
  border-bottom: 1px solid rgb(211, 211, 211);
  width: 100%;
  z-index: 50;
}
.or_or {
  position: absolute;
  left: 45%;
  top: 8px;
  z-index: 60;
  font-size: 12px;
  color: gray;
  background-color: white;
  width: 40px;
  display: grid;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=signup-modal.css.map */