* {
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif; /* Safari/Chrome, other WebKit */ /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.top_roll {
  position: relative;
  height: 100px;
  width: 100vw;
  display: grid;
  grid-template-columns: 6.5vw 77vw 140px 6.5vw;
  overflow-x: hidden;
  align-items: center;
}
.top_roll_left-shield {
  height: 100%;
  z-index: 9;
}
.top_roll_right-shield {
  height: 100%;
  z-index: 9;
}
.top_roll_content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  overflow: visible;
  position: relative;
  background-color: transparent;
  z-index: 5 !important;
  overflow: hidden;
}
.top_roll_content_test {
  display: flex;
  position: relative;
  z-index: 5;
  left: -1vw;
}
.top_roll_content_back {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  z-index: 99;
  position: absolute;
  left: 80px;
  top: 30px;
}
.top_roll_content_button {
  height: 80%;
  min-width: 100px !important;
  border: none;
  background: transparent;
  font-size: 12px !important;
  font-weight: 600;
  color: gray;
  display: grid;
  justify-content: center;
  align-items: flex-end;
  opacity: 0.5;
  padding: 0;
  cursor: pointer;
}
.top_roll_content_button_kernel {
  display: grid;
  justify-items: center;
  row-gap: 10px;
}
.top_roll_content_button_kernel_icon {
  height: 30px;
  width: 30px;
}
.top_roll_content_button_kernel_icon img {
  width: 100%;
  height: 100%;
}
.top_roll_content_button_kernel_text {
  padding-bottom: 10px;
  color: black;
  border-bottom: 2px solid white;
}
.top_roll_content_button:focus {
  opacity: 1;
}
.top_roll_content_button:focus .top_roll_content_button_kernel_text {
  border-bottom: 2px solid black;
}
.top_roll_control {
  height: 100%;
  position: relative;
  z-index: 9;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 140px;
  grid-template-columns: 45px 95px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.top_roll_control_arrow {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-content: start;
}
.top_roll_control_arrow_forth {
  display: grid;
  align-items: center;
  justify-content: center;
  border: 1px solid silver;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.top_roll_control_filter {
  border: 1px solid silver;
  border-radius: 12px;
  height: 50%;
  padding: 0 10px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 2fr;
  cursor: pointer;
}
.top_roll_control_filter_icon {
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.top_roll_control_filter_icon img {
  width: 90%;
  height: 99%;
}
.top_roll_control_filter_text {
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  color: #222222;
}

.shadow_left {
  width: 50px;
  height: 100%;
  position: absolute;
  left: 5vw;
  top: 0;
  box-shadow: inset 4px 11px 73px white;
  z-index: 9;
  border-radius: 50%;
}

.shadow_right {
  width: 50px;
  height: 80px;
  position: absolute;
  right: 17vw;
  top: 7px;
  box-shadow: inset 4px 11px 73px white;
  z-index: 9;
  border-radius: 50%;
}

@media (max-width: 1124.98px) {
  .top_roll {
    grid-template-columns: 4vw auto 140px 4vw;
  }
  .shadow_left {
    width: 50px;
    height: 100%;
    position: absolute;
    left: 1.5vw;
    top: 0;
    box-shadow: inset 4px 11px 73px white;
    z-index: 8;
    border-radius: 50%;
  }
  .shadow_right {
    width: 50px;
    height: 80px;
    position: absolute;
    right: 15vw;
    top: 7px;
    box-shadow: inset 4px 11px 73px white;
    z-index: 9;
    border-radius: 50%;
  }
}/*# sourceMappingURL=Top_roll.css.map */