*{box-sizing: border-box;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin grid-center {
    display: grid;
    align-items: center;
    justify-content: center;
}

.top_roll{
    position: relative;
    // border-bottom:2px solid magenta;
    height: 100px;
    width: 100vw;
    display: grid;
    grid-template-columns: 4fr 20fr 1fr 1fr  5fr 5fr;
    align-items: center;
    // transition: 5s;
    &_left-shield{
        height: 100%;
        // background-color: red;
        z-index: 9;
    }
    &_right-shield{
        height: 100%;
        // background-color: red;
        z-index: 9;
    }
    

    &_content{
        // border: 2px solid magenta;
        height: 100%;
        display: flex;
        width: 75vw !important;
        align-items: center;
        column-gap: 20px;
        overflow:visible;
        position: relative;
        background-color:transparent;
        z-index: 5 !important;
        overflow: hidden;        

        &_test{
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            z-index: 5;
        }

        &_back{
            @include grid-center;
            border: 1px solid black;
            border-radius: 50%;
            width: 25px; height: 25px;
            z-index: 99;
            position: absolute;
            left:6%; top:30px;
        }
        &_forth{
            @include grid-center;
            border: 1px solid black;
            border-radius: 50%;
            width: 25px; height: 25px;
            z-index: 99;
            position: absolute;
            right:16%; top:30px;
        }
        &_button{
            height: 80%;
            min-width: 8vw !important;
            border: none;
            background: transparent;
            // border: 2px solid red;
            font-size: 12px !important;
            font-weight: 600;
            color: gray;
            display: grid;
            justify-content: center;
            align-items: flex-end;
            opacity: 0.5;
            padding: 0;
            cursor: pointer;
            &_kernel{
                display: grid;
                justify-items: center;
                row-gap: 10px;
                &_icon{
                    height: 25px; width: 25px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &_text{
                    padding-bottom: 10px;
                    color: black;
                    border-bottom: 2px solid white;
                }

            }
        }
        &_button:focus{
                opacity: 1;
        }
        &_button:focus .top_roll_content_button_kernel_text{
            border-bottom: 2px solid black;
    }
        
    }


    &_control{
        // border: 2px solid maroon;
        height: 100%;
        position: relative;
        z-index: 9;
        @include grid-center;
    }


}


.shadow_left{
    width: 50px;
    height: 80px;
    // border: 1px solid red;
    position: absolute;
    left: 5%;
    top: 7px;
    box-shadow: inset 4px 11px 73px white;
    z-index: 9;
    border-radius: 50%;
}

.shadow_right{
    width: 50px;
    height: 80px;
    // border: 1px solid red;
    position: absolute;
    right: 17%;
    top: 7px;
    box-shadow: inset 4px 11px 73px white;
    z-index: 9;
    border-radius: 50%;
}